.btn {
  border: none;
  outline: none;
  background: rgb(156, 159, 167);
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
}

.btn:hover {
  background: rgb(135, 138, 143);   
}