.card {
  display: flex;
  position: relative;
  margin: 0rem 30rem;
}

.card-item {
  display: grid;
  padding: 20px;
}

.container {
  background-color: white;
  border: 2px solid #81b71a;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  transition: all 0.2s ease-out;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

.container:hover{
  background-color: #F0F3F9;
  box-shadow: 0 0 10px 2px rgba(108, 111, 119, 0.15);
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}