.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--white-background-color);
  color: var(--dark-foreground-color);
}
